.scrollable {
	position: relative;
	overflow-y: auto;
}
@media (max-width: 767px) {
    .messenger {
        display: block;
        width: 100%;
        height: 85vh;
        background: #eeeef1;
    }
    
    .container {
        padding: 10px;
    }
    
    .sidebar {
        background: white;
    }
    
    .content {
        background: white;
    }
    
  }
  @media (min-width: 767px) {
.messenger {
	display: grid;
	width: 100%;
	height: 85vh;
	background: #eeeef1;

	grid-template-columns: 350px auto;
	grid-template-rows: 60px auto 60px;
	grid-column-gap: 1px;
	grid-row-gap: 1px;
}

.container {
	padding: 10px;
}



.sidebar {
	background: white;
	grid-row-start: 1;
	grid-row-end: span 3;
}

.content {
	background: white;
	grid-row-start: 1;
	grid-row-end: span 3;
}
  }
