.phone-list-item {
	display: flex;
	align-items: center;
	padding: 10px;
}

.phone-list-item:hover {
	background: #eeeef1;
	cursor: pointer;
}

.phone-photo {
	width: 50px;
	height: 50px;
	object-fit: cover;
	margin-right: 10px;
}

.phone-title {
	font-size: 14px;
	font-weight: bold;
	text-transform: capitalize;
	margin: 0;
}

.phone-snippet {
	font-size: 14px;
	color: #888;
	margin: 0;
}
.phone-hour {
	font-size: 10px;
	font-weight: normal;
	float: right;
	color: #888;
}
.selected {
	background-color: cornflowerblue !important;
}
.selected * {
	color: white;
}
.phone-info {
	width: 100%;
}
