
  @media (max-width: 767px) {
    .phone-photo-detail {
        width: 10em;
        height: 10em;
        object-fit: cover;
    }
    .phone-info-detail-right{
        float: none;
    }
    
    .phone-info-detail-left{
        text-align: center;
        float: none;
    }
    .phone-description-detail {
        float: none;
    }
      }
  @media (min-width: 767px) {
.phone-photo-detail {
	width: 20em;
	height: 20em;
	object-fit: cover;
    margin-right: 10px;
    float: left;
    margin-top: 0.5em;
}
.phone-info-detail-right{
    float: right;
    max-width: 60%;
    margin-right: 10px;
}

.phone-info-detail-left{
    float: left;
    max-width: 40%;
}
.phone-description-detail {
    float: right;
}
  }